.row--menu-row {
  padding-right: 24px;
}

.row--menu-row .rowContainer {
  align-items: flex-start;
}

.row--payment-methods {
  padding-top: 16px;
}


/* footer */
:global(.vtex-store-footer-2-x-footerLayout){
  background-color: #7300e0;
}
:global(.vtex-flex-layout-0-x-flexRow--menu-row) :global(.vtex-store-components-3-x-container),
:global(.vtex-flex-layout-0-x-flexRow--payment-methods) :global(.vtex-store-components-3-x-container),
:global(.vtex-flex-layout-0-x-flexRow--credits) :global(.vtex-store-components-3-x-container){
  max-width: 72rem;
}
:global(.vtex-rich-text-0-x-wrapper--text-class){
  color: #fff;
  font-size: 12px;
  font-weight: 600;
}
:global(.vtex-rich-text-0-x-wrapper--text-class) :global(.vtex-rich-text-0-x-link){
  color: #fff;
  text-decoration: none;
}
:global(.vtex-flex-layout-0-x-flexRow--menu-row) :global(.vtex-menu-2-x-menuItem){
  margin-left: 18px;
}
:global(.vtex-flex-layout-0-x-flexRow--menu-row) :global(.vtex-menu-2-x-menuItem) :global(.vtex-menu-2-x-styledLinkContainer){
  margin: 0;
}
:global(.vtex-flex-layout-0-x-flexRow--menu-row) :global(.vtex-menu-2-x-menuContainer) :global(.vtex-menu-2-x-menuItem){
  list-style-type: initial;
  color: #fff;
}
:global(.vtex-flex-layout-0-x-flexRow--menu-row) :global(.vtex-menu-2-x-menuItem) :global(.vtex-menu-2-x-styledLinkContent){
  color: #fff;
  font-size: 12px;
}
:global(.vtex-flex-layout-0-x-flexRow--menu-row) :global(.vtex-flex-layout-0-x-flexColChild){
  height: auto !important;
}
